@model app_financas.Models.Financas

<div class="container">
    <div class="form-horizontal">
        <form action="Criar" method="Post">

            <div class="form-group">
                <label>Data da despesa</label>
                <input class="form-control" type="text" name="data" required />
            </div>
            <div class="form-group">
                <label>Número do documento</label>
                <input class="form-control" type="number" name="numero_doc" />
            </div>
            <div class="form-group">
                <label>Grupo da despesa</label>
                <input class="form-control" type="text" name="grupo_despesa" required />
            </div>
            <div class="form-group">
                <label>Local de compra</label>
                <input class="form-control" type="text" name="local_compra" required />
            </div>
            <div class="form-group">
                <label>Valor da despesa</label>
                <input class="form-control" type="text" name="valor" required />
            </div>
            <input class="btn btn-primary" type="submit" value="Salvar" />
        </form>
    </div>
</div>